*{
  margin: 0;
  padding: 0;
}

.header{
  display: flex;
  justify-content: space-between;
  text-align: center;
  background-color: blue;
  color: beige;
}

h1{
  flex: 1;
}

.menu{
  flex: 2;
  padding-top: 10px;
}

.days{
  display: grid;
  grid-template-columns: auto auto auto auto auto;
  padding: 20px 10px;
  grid-gap: 10px;
}